* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #a61e69;
  overflow: hidden;
}

.nav-links {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  gap: 4em;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.nav-links a:hover {
  background-color: #ffffff48;
  transition: #fff 0.3s ease;
  border-radius: 5px;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-block: 0px;
}

.pre-title {
  margin: 18px;
  margin-inline: 30px;
  color: #a61e69b7;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5rem;
}

.title {
  width: 40%;
  margin: 18px;
  margin-inline: 30px;
}

.sub-title {
  margin: 18px;
  margin-inline: 30px;
}

.least-title {
  margin: 18px;
  margin-inline: 30px;
  font-size: large;
}

.page-pattern {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: justify;
  gap: 2em;
  width: 50%;
  margin: 40px;
}

.btn {
  margin: 30%;
  margin-inline: 30px;
}

.btn1 {
  padding-block: 20px;
  padding-inline: 20px;
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  background-color: #a61e69;
}

.btn2 {
  padding-block: 20px;
  padding-inline: 20px;
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  color: #a61e69;
  background-color: rgb(205, 243, 243);
}
